

	<div class="container">
	
		<div class="CajaInicio animated bounceInRight">
			<h1>LOGIN</h1>

			<form id="FormIngreso" name="FormLogin" >
				<input type="email" name="email" ng-model="dato.usuario" placeholder="ingrese email"  />
				<br>
				<input type="password" name="clave" ng-model="dato.clave" placeholder="ingrese password"   /> 
      			<br><br>
				<input type="button" class="btn btn-danger" value="LOGIN" ng-click="Login()"/>
				<br>				
			</form>
		</div>
		<div style="text-align:center">
		</div>
	</div>
